if TARGET_BPI_R2_PRO_RK3568

config SYS_BOARD
	default "bpi-r2-pro-rk3568"

config SYS_VENDOR
	default "rockchip"

config SYS_CONFIG_NAME
	default "bpi-r2-pro-rk3568"

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y

endif
